#root {
  position: relative;
  overflow: hidden;
}
.slider--frame {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0.4);
  will-change: transform;
}
.slider--frame::before,
.slider--frame::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.25);
  top: 0;
}
.slider--frame::before {
  left: 100%;
}
.slider--frame::after {
  right: 100%;
}
