.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  /* box-shadow: inset 0px 0px 0px 1px #999; */
  /* inset -4px 0px 0px 0px #999,
    inset 4px 0px 0px 0px #999; */
  touch-action: none;
}

.slider__side {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(221, 234, 243, 0.5);
  will-change: transform;
}

.slider__side--left {
  right: 100%;
}

.slider__side--right {
  left: 0;
}

.slider__control--left {
  content: '';
  position: absolute;
  width: 48px;
  height: 100%;
  right: 0;
  transform: translateX(50%);
}

.slider__control--right {
  content: '';
  position: absolute;
  width: 48px;
  height: 100%;
  left: 0;
  transform: translateX(-50%);
}

.slider__frame {
  position: absolute;
  height: 100%;
  border-style: solid;
  border-width: 2px 5px;
  border-color: rgba(221, 234, 243, 1);
  z-index: -10;
}

/* TODO: debug */
/* .slider__side--left {
  background-color: blueviolet;
  opacity: 0.25;
}
.slider__side--right {
  background-color: salmon;
  opacity: 0.25;
}

.slider__control--left,
.slider__control--right {
  border: 2px solid yellowgreen;
}
*/
