.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: none;
}

.slider__side {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(221, 234, 243, 0.5);
  will-change: transform;
}

.slider__side--left {
  right: 100%;
}

.slider__side--right {
  left: 0;
}

.slider__control--left {
  content: '';
  position: absolute;
  width: 48px;
  height: 100%;
  right: 0;
  transform: translateX(50%);
}

.slider__control--right {
  content: '';
  position: absolute;
  width: 48px;
  height: 100%;
  left: 0;
  transform: translateX(-50%);
}

.slider__frame {
  position: absolute;
  height: 100%;
  width: 100%;
  border-style: solid;
  border-width: 2px 0;
  border-color: rgba(221, 234, 243, 1);
  z-index: -10;
  transform-origin: left;
  will-change: transform;
}

.slider__frame-side {
  position: absolute;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: rgba(221, 234, 243, 1);
  z-index: -10;
  will-change: transform;
}

.slider__frame-side--left {
  right: -5px;
}

.slider__frame-side--right {
  left: -5px;
}
