.checkbox {
  position: relative;
  display: inline-block;
  margin-right: 16px;
  padding: 12px 16px;
  padding-left: 48px;
  border: 2px solid rgba(233, 238, 242, 1);
  border-radius: 1000px;
  overflow: hidden;
  line-height: 1;
  font-size: 14px;
  user-select: none;
  cursor: pointer;
  /* Remove highlight on tap in iOS Safari */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.checkbox:last-child {
  margin-right: 0;
}

.checkbox__input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 8px;
  height: 25px;
  width: 25px;
  border: 2px solid #ccc;
  background-color: #ccc;
  border-radius: 1000px;
  transform: translateY(-50%);
}

.checkmark:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1000px;
  background-color: #fff;
  transition: transform 0.15s ease-in;
}

.checkbox__input:checked ~ .checkmark:after {
  transform: scale(0);
}

.checkbox__input:not(:checked) ~ .checkmark:after {
  transform: scale(1);
}

.checkmark__icon {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
  transition: transform 0.15s ease-in;
}

.checkmark__icon:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 5px;
  width: 3px;
  height: 6px;
  border-radius: 1000px;
  background-color: #fff;
}

.checkmark__icon:after {
  content: '';
  position: absolute;
  top: 11px;
  left: 5px;
  width: 12px;
  height: 3px;
  border-radius: 1000px;
  background-color: #fff;
}

.checkbox input:not(:checked) ~ .checkmark__icon:after {
  transform: scale(0);
}

.checkbox input:checked ~ .checkmark__icon:after {
  transform: scale(1);
}

.checkbox__ripple {
  position: absolute;
  border-radius: 1000px;
  background-color: rgba(221, 234, 243, 0.5);
  opacity: 0;
  animation: ripple 0.65s linear forwards;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(3);
  }
}
