.grid {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  will-change: top;
}

.grid__item {
  color: rgba(150, 162, 170, 1);
  border-bottom: 1px solid rgba(221, 234, 243, 1);
  will-change: contents;
}

.grid--visible {
  animation: grid-appear 0.15s linear forwards;
}

.grid--hidden {
  animation: grid-dissolve 0.15s linear forwards;
}

@keyframes grid-dissolve {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -100%;
    opacity: 0;
  }
}

@keyframes grid-appear {
  0% {
    top: 50%;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
