.tooltip {
  position: absolute;
  top: -24px;
  border-radius: 4px;
  border: 1px solid rgba(247, 247, 247, 1);
  background-color: #fff;
  box-shadow: 2px 2px 4px 0px rgba(247, 247, 247, 0.5);
  font-size: 14px;
  z-index: 100;
}

.night .tooltip {
  background-color: rgba(37, 50, 65, 1);
  border-color: rgba(37, 50, 65, 1);
  box-shadow: 1px 1px 2px 0px rgba(28, 37, 49, 0.5);
}

.tooltip__header {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  margin: 8px 12px 0;
  min-width: 100px;
}

.tooltip__items {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
}

.tooltip__item {
  margin: 8px 12px;
}

.tooltip__value {
  font-size: 18px;
  font-weight: bold;
}
