html,
body {
  /* width: 100%;
  height: 100%; */
}

body {
  /* margin: 0;
  padding: 0; */
  /* padding: 14px; */
  padding: 14px;
  background: gray;
}

.slider {
  background-color: #f5f9fb;
  height: 44px;
}

.graph-line {
  stroke-width: 2px;
}
