*,
*:before,
*:after {
  box-sizing: border-box;
}

#root {
  position: relative;
  overflow: hidden;
}

svg.graph {
  display: block;
  transform: scaleY(-1);
}

/* DEBUG */

.slider__side--left {
  outline: 1px solid lightseagreen;
}
.slider__side--right {
  outline: 1px solid salmon;
}
